{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<a href="http://github.com" target="_blank">
    <img src="{% static 'app/content/github_logo.jpg' %}" alt="github logo" width="400" height="300"/>
</a>
<hr />
<a href="http://leetcode.com" target="_blank">
    <img src="{% static 'app/content/leetcode_logo.png' %}" alt="leetcode logo" width="400" height="300"/>
</a>
<hr />
<a href="http://binance.com" target="_blank">
    <img src="{% static 'app/content/binance_logo.png' %}" alt="binance logo"  width="400" height="300"/>
</a>
{% endblock %}